#background{
  background-color: #93B3B2;
  width: 536px;
  height: 472px;
  position: relative;
}
#face {
 width:399px;
 height: 388px;
 background: #53382D;
 border-radius: 50%;
 right: 0;
 left: 0;
 bottom: 0;
 top: 0;
 margin: auto;
 position: absolute;
 }
#left{
  width: 120px;
  height: 120px;
  background: #53382D;
  border-radius: 50%;
  right: 50%;
  left: 0;
  bottom: 55%;
  top: 0;
  margin: auto;
  position: absolute;
}
#right{
  width: 120px;
  height: 120px;
  background: #53382D;
  border-radius: 50%;
  right: 0;
  left: 50%;
  bottom: 55%;
  top: 0;
  margin: auto;
  position: absolute;
}
#lefteye{
  width: 37px;
  height: 37px;
  background: #000000;
  border-radius: 50%;
  right: 15%;
  left: 0;
  bottom: 5%;
  top: 0;
  margin: auto;
  position: absolute;
}
#righteye{
  width: 37px;
  height: 37px;
  background: #000000;
  border-radius: 50%;
  right: 0;
  left: 15%;
  bottom: 5%;
  top: 0;
  margin: auto;
  position: absolute;
}
#mouseout{
  width: 146px;
  height: 146px;
  background: #FACEA9;
  border-radius: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  top: 40%;
  margin: auto;
  position: absolute;
}
#nose{
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 36px solid #000000;
  right: 0;
  left: 0;
  bottom: 30%;
  top: 0;
  margin: auto;
  position: absolute;
}
#nose2{
  width: 11px;
  height: 75px;
  background: #000000;
  right: 0;
  left: -5px;
  bottom: -2px;
  top: 0;
  margin: auto;
  position: absolute;
}
#mouse{
  width: 74px;
  height: 13px;
  background: #000000;
  border-radius: 0 0 37px 37px;
  right: 0;
  left: -31px;
  bottom: 0;
  margin: auto;
  position: absolute;
}
#leftin{
  width: 84px;
  height: 84px;
  background: #382622;
  border-radius: 50%;
  right: 50%;
  left: 0;
  bottom: 55%;
  top: 0;
  margin: auto;
  position: absolute;
}
#rightin{
  width: 84px;
  height: 84px;
  background: #382622;
  border-radius: 50%;
  right: 0;
  left: 50%;
  bottom: 55%;
  top: 0;
  margin: auto;
  position: absolute;
}
